* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html , 
body {
    height: 100%;
    margin: 0;
    font-size: 16px;
    font-family: lato;
    font-weight: 400;
    line-height: 1.8rem;
    color:  #666;
}

.pimg1 {
    background-image: url(./images/image1.jpg);
    min-height: 100%;
}

.pimg2 {
    background-image: url(./images/image2.jpg);
    min-height: 400px;
}

.pimg3 {
    background-image: url(./images/image3.jpg);
    min-height: 400px;
}


.pimg1 , .pimg2 , .pimg3 {

    position: relative;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;

}

.ptext {
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    font-size: 40px;
    letter-spacing: 8px;
    text-transform: uppercase;
    color: black;
}

.textbg {
    background-color: #313534;
    color: white;
    padding: 20px;
}

.section {
    padding: 50px 80px;
    text-align: center;
}

.section h2 {
    margin-bottom: 10px;
}

.section-light {
    background-color: #f4f4f4;
    color: #666;
}

.section-dark {
    background-color: #282e34;
    color: #ddd;
}



